{:paths ["src" "resources"]
 :deps  {org.clojure/clojure                  {:mvn/version "1.11.2"}
         babashka/fs                          {:mvn/version "0.5.20"}
         io.github.clojure/tools.build        {:mvn/version "0.10.0"
                                               :exclusions  [org.slf4j/slf4j-nop]}
         org.clojure/tools.deps.alpha         {:mvn/version "0.15.1254"}
         io.github.codesmith-gmbh/deps-deploy {:git/sha "ebce2afd7626cab86951eaf8f2872d9cfdeae75d"}
         buddy/buddy-core                     {:mvn/version "1.11.423"}
         com.rpl/specter                      {:mvn/version "1.1.4"}
         com.taoensso/timbre                  {:mvn/version "6.5.0"}
         com.fzakaria/slf4j-timbre            {:mvn/version "0.4.1"}
         org.clojure/data.xml                 {:mvn/version "0.2.0-alpha9"}
         ;; -- force some dependencies for nvd
         com.google.guava/guava               {:mvn/version "33.1.0-jre"}
         com.amazonaws/aws-java-sdk-s3        {:mvn/version "1.12.689"}
         com.amazonaws/aws-java-sdk-sts       {:mvn/version "1.12.689"}
         commons-io/commons-io                {:mvn/version "2.15.1"}
         com.cognitect/http-client            {:mvn/version "1.0.127"}
         org.codehaus.plexus/plexus-cipher    {:mvn/version "2.1.0"}
         org.eclipse.jetty/jetty-client       {:mvn/version "9.4.54.v20240208"}
         }
 :aliases
 {:dev            {:extra-paths ["dev" "scripts"]
                   :extra-deps  {hato/hato {:mvn/version "0.9.0"}}}
  :build          {:extra-paths ["build"]
                   :ns-default  build}
  :test-resources {:extra-paths ["test/test-resources"]}
  :test           {:extra-paths ["test"]
                   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}}}}}
